/* Please note I am intentionally using my own color scheme, not the one assigned */

/*====Main Content====*/
.main-content{
    background: lightgray;
    border-radius: 5px;
    margin-bottom: 25px;
}

.main-content-contact{
    min-height: 75%;
}
.port-header h2{
    text-align: center;
}

/*====Portfolio Items====*/
.port-item{
    background-color: aquamarine;
    text-align: center;
}
.port-item img{
height: auto;
max-width: 100%;
}

.profile-picture{
float: left;
margin: 5px;
}

/*====Footer====*/

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    margin: auto;
    background: lightcyan;
    text-align: center;
    border-top: solid 1px lightgray;
}

/*====Contact form====*/

input[type=text]:focus, input[type=email]:focus  {
    border: 3px solid #555;
  }
input.large-text-input{
min-height: 85px;
}
.btn-contact{
     margin-bottom: 20px;
 }